*, *:after, *:before { box-sizing: border-box; }

body, body * { font-size: 14px; }
h1 { font-size: 22px; }
body { background: white; }

#main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#test-1 {
    background: orange;
    padding: 14px;
}
#complete-lime-container {
    display: flex;
    width: 240px;
    border: 1px solid #989898;
    background: white;
}

#complete-lime-container span.icon {
    flex: 0 0 26px;
    height: 32px;
    padding: 6px;
    padding-right: 0px;
}
#complete-lime-container svg.icon {
    width: 20px;
    height: 20px;
    stroke: #983413;
}

#log {
    background: #ccc;
    padding: 14px;
    margin-top: 20px;
}
