*, *:after, *:before { box-sizing: border-box; }

body, body * { font-size: 14px; }
h1 { font-size: 22px; }

#complete-lime-div {
    border: 1px solid red;
    width: 200px;
}
#log {
    background: #ccc;
    padding: 14px;
    margin-top: 20px;
}
